# Backend API Base URL
NEXT_PUBLIC_API_BASE_URL=http://127.0.0.1:8000/api/v1
NEXT_PUBLIC_APP_ENV=local

# Google OAuth 2.0 Web Client ID (Optional for local dev)
NEXT_PUBLIC_GOOGLE_CLIENT_ID=911004062951-cjfaob0o04n9falb7jgs8k8gfmb3r511.apps.googleusercontent.com
